{% extends 'gestion/base.html' %}

{% block content %}

<h2>Facturas</h2>

<a href="{% url 'crear_factura' %}" class="btn-estandar">
    Agregar Factura
</a>

<table>

    <tr>

        <th>ID</th>
        <th>Orden</th>
        <th>Fecha</th>
        <th>Subtotal</th>
        <th>Impuesto</th>
        <th>Total</th>
        <th>Método de pago</th>
        <th>Estado</th>
        <th>Acciones</th>

    </tr>

    {% for factura in facturas %}

    <tr>

        <td>{{ factura.id }}</td>
        <td>{{ factura.orden.id }}</td>
        <td>{{ factura.fecha_factura }}</td>
        <td>{{ factura.subtotal }}</td>
        <td>{{ factura.impuesto }}</td>
        <td>{{ factura.total_factura }}</td>
        <td>{{ factura.metodo_pago }}</td>

        <td>

            {% if factura.estado_factura == 'Facturada' %}

                <span class="estado-facturada">
                    Facturada
                </span>

            {% else %}

                <span class="estado-pendiente">
                    Pendiente
                </span>

            {% endif %}

        </td>

        <td>

            {% if factura.estado_factura == 'Pendiente' %}

                <a href="{% url 'facturar_orden' factura.id %}"
                   class="btn-estandar">

                    Facturar

                </a>

            {% else %}

                <button class="btn-bloqueado" disabled>

                    Ya facturada

                </button>

            {% endif %}

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}