{% extends 'gestion/base.html' %}

{% block content %}
<h2>Órdenes</h2>

<a href="{% url 'crear_orden' %}" class="btn-estandar">
    Agregar Orden
</a>

<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Empleado</th>
        <th>Mesa</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
    {% for orden in ordenes %}
    <tr>
        <td>{{ orden.id }}</td>
        <td>{{ orden.cliente.nombre }}</td>
        <td>{{ orden.empleado.nombre }}</td>
        <td>{{ orden.mesa.numero_mesa }}</td>
        <td>{{ orden.fecha_hora }}</td>
        <td>{{ orden.estado_orden }}</td>
        <td>{{ orden.total }}</td>
        <td>
            <a href="{% url 'editar_orden' orden.id %}" class="btn-estandar">
                Editar
            </a>

            <a href="{% url 'eliminar_orden' orden.id %}" class="btn-eliminar">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}